
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h2>Velkommen til Sykkelkroken - Norges nye sykkelbutikk på nett!</h2>
        <a href="/Kunder/info/12"><img src="~/bilder/forside.png" /></a>


    </div>
</body>
</html>
